
  @font-face {
  font-family: 'WeblySleek UI Semilight';
  src: url('../fonts/OpenSans-Regular.ttf') format('woff2'),
  url('../fonts/weblysleekuisl.ttf') format('woff');
  font-weight: normal;
  font-style: normal;            
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2, h3 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'WeblySleekUISemilight';
}

header {
	background: url(../images/guests.png) no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
}

.container {
  /*width: 1140px;*/
  width: 59.4vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.v_line {
  background-color: black;
  /*height: 56px;*/
  height: 2.92vw;
}

.container_v_menu {
  width: 59.4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*font-size: 18px;*/
  font-size: 0.94em;
  margin: auto;
  /*border: 1px solid green;*/
}

.container_v_menu a {
  color: white;
  margin: 0 auto;
}

.container_v_menu div {
  margin-top: 0.9em;
}

.tel {
  /*width: 11px;*/
  width: 0.57em;
  margin-right: 5px;
}

.call {
  /*font-size: 14px;*/
  font-size: 0.73em;
  height: 22px;
  border: 1px solid white;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 29px;
  padding-right: 34px;
}

.logo {
  margin-top: 3.1vw;
  /*margin-top: 59px;*/
  margin-left: auto;
  margin-right: auto;
  width: 10.7vw;  
}

header h4 {
  text-align: center;
  /*margin-top: 13px;*/
  margin-top: 0.68vw;
}


.v2_menu {
  display: flex;
  align-items: center;
  background-color: #67182b;
  /*margin-top: 37px;*/
  margin-top: 1.9vw;
}

.v2_menu a {
  display: block;
  /*height: 48px;*/
  padding-top: 1.2vw;
  padding-bottom: 1.4vw;
  font-size: 1vw;
  color: white;
}

.v2_menu a:hover {
  background-color: #952b44;
}


.container_menu {
  /*width: 1140px;*/
  width: 59.4vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.right {
  justify-content: flex-end;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 235px;*/
  width: 12.2vw;
  height: 48px;
  height: 2.5vw;
  background-color: #67182b;
  text-transform: uppercase;
  /*margin-top: 35px;*/
  margin-top: 1.8vw;
  margin-left: auto;
}

.preview:hover {
  background-color: #952b44;
}

.check1 {
  /*margin-top: 143px;*/
  margin-top: 7.45vw;
  text-align: center;
}

.button_down {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 42px;
  background-color: #67182b;
  /*margin-top: 103px;*/
  margin-top: 5.36vw;
  /*margin-bottom: 70px;*/
  margin-bottom: 3.65vw;
}




@media (max-width: 960px) {
  
  .v2_menu {
    height: auto;
    background: none;
  }

  .v2_menu a {
    font-size: 4vw;
  }

  .v2_menu a:hover {
    text-decoration: underline;
    background-color: black;
  }

  .container_menu {
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    opacity: 0.9;
  }

  .right {
    display: none;
  }

  .v_line, .container {
    display: none;
  }
}

@media (min-width: 961px) {

  header {
    height: 56.3vw;
  }

  header h3 {
    width: 105px;
    width: 12.7vw;
    font-size: 2.6vw;
    /*margin-top: 136px;*/
    margin-top: 7.1vw;
  }

  .container_v_menu a:nth-of-type(3) {
    margin-left: 0.8vw;
  }

  .edit_search {
    padding-left: -70px;
  }

  input {
    margin-right: 25px;
    margin-right: 1.3vw;
  }
}




/*begin advantages*/
.advantages {
  /*height: 547px;*/
  color: #fafafa;
  background-color: #66182a;
}

.advantage {
  /*font-size: 20px;*/
  font-size: 1.04em;
  text-align: center;
  text-transform: uppercase;
  /*padding-top: 151px;*/
  /*padding-top: 140px;*/
  padding-top: 7.3vw;
  /*padding-top: 7.9vw;*/
  /*margin-bottom: 70px;*/
}

hr {
  background-color: #932a43;
  color: #932a43;
  width: 320px;
  height: 1px;
}

.advantages hr {
  /*margin: 60px auto;*/
  margin: 3.1em auto;
}

.subadvantage {
  width: 59.4vw;
  display: flex;
  justify-content: space-around;
  /*padding-top: 62px;*/
  padding-top: 3.2vw;
  padding-bottom: 7.3vw;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.natural_materials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.natural_materials span {
  /*width: 120px;*/
  margin-top: 15px;
  /*padding-bottom: 148px;*/
}

.natural_materials img {
  /*width: 49px;*/
  width: 2.55vw;
  /*height: 56px;*/
}




@media (max-width: 960px) {

  .subadvantage {
    display: flex;
    flex-direction: column;
  }

  .natural_materials {
    width: 100%;
  }

  .advantage {
    font-size: 20px;
    font-size: 6.2vw;
  }

  .natural_materials img {
    /*width: 49px;*/
    width: 10.3vw;
  }
}

/*end advantages*/





/*begin course*/
.course {
  position: relative;
}

.course__picture img, sourse {
  width: 100%;
  min-height: 1px;
  vertical-align: bottom;
}

.course_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 710px;*/
  /*margin-top: 41px;*/
  text-align: center;
  padding-top: 10vw;
}

.course_text h3 {
  text-transform: uppercase;
}

.course_text p {
  width: 37vw;
  margin-left: auto;
  margin-right: auto;
}

.course hr {
  margin: 2.1em auto;
}

.course1 {
  background-color: white;
  border: 1px solid #952b44;
  color: #952b44;
  margin-left: auto;
  margin-right: auto;
}

.course2 {
  color: white;
  margin-left: auto;
  margin-right: auto; 
}


@media (max-width: 960px) {
 
  .course_text p {
    width: 100%;
    padding: 40px;
    padding: 12.5vw;
    padding-top: 0;
  }
}



@media (min-width: 961px) {

  html {
    font-size: 1vw;
    /*19.2px*/
  }

  .course {
    display: flex;
  }

  .course__picture {
    display: block;
    flex-basis: 50%;
  }

  .course_text {
    width: 50%;
  }

  .course:nth-of-type(1) {
    flex-direction: row-rewerse;
  }

  .course:nth-of-type(2) picture {
    /*padding-top: 30vw;*/
  }

  }
/*end course*/



/*begin mebel_making*/
.mebel_making {
  display: flex;
  flex-direction: column;
  background: url(../images/mebel_making.png) no-repeat;
  background-position: center;
  /*background-size: cover;*/
}

 .mebel_making .preview {
   color: white;
 }

 .preview {
   cursor: pointer;
 }

@media (max-width: 960px) {
  .mebel_making h2 {
    text-align: center;
  }

  .preview {
    width: 30vw;
    height: 6vw;
    margin-right: auto;
  }
}


@media (min-width: 961px) {

  .mebel_making h2 {
    /*padding-top: 117px;*/
    padding-top: 5.7vw;
    /*margin-left: 226px;*/
    margin-left: 31.6vw;
    /*font-size: 57px;     3.7*/
    font-size: 3em;
  }

  .mebel_making .preview {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 84px;*/
    margin-top: 4.4vw;
    cursor: pointer;
  }

  .mebel_making .check1 {
    margin-top: 71px;
    margin-bottom: 118px;
  }
}

/*end mebel_making*/


/*begin mail_form*/

.form {   
  display: flex;
  background-color: #67182b;
  background: url(../images/mail_form.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.phone_form {
  display: flex;
  border: 1px solid white;
  margin-top: 189px;
  margin-bottom: 190px;
  margin-left: auto;
  margin-right: auto;
}

.edit {
  display: flex;
  align-items: center;
  background-color: white;
}

.post_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #952b44;
  text-transform: uppercase;
  color: white;
}

.post_button:hover {
  background-color: #67182b;
  cursor: pointer;
}

@media (max-width: 960px) {

  .phone_form {
    flex-direction: column;
    padding: 16vw 10vw;
  }

  .edit {
    width: 56vw;
    height: 8vw;
  }

  .post_button {
    justify-content: center;
    width: 56vw;
    height: 8vw;
    margin-top: 3vw;
  }
}

@media (min-width: 961px) {

  .phone_form {
    padding: 31px 25px;
    margin-top: 189px;
    margin-bottom: 190px;
  }

  .edit {
    /*width: 813px;*/
    width: 42.3vw;
    padding-left: 15px;
  }

  .post_button {
    /*width: 249px;*/
    width: 13vw;
    height: 44px;
    margin-left: 26px;
  }


}
/*end mail_form*/





footer {
  display: flex;
  background-color: #67182b;
}

footer a {
  color: #b38c95;
}

.head_list a {
  color: white;
}

.icon {
    margin-top: 26px;
    margin-top: 1.35em;
}

footer .post_button:hover {
  background-color: red;
}


@media (max-width: 960px) {
  footer .post_button {
    width: 63vw;
  }

  .icon {
    margin-bottom: 10vw;
  }

  .container_footer {
    margin-top: 10vw;
    padding-left: 6vw;
  }

  .head_list {
    margin-top: 4.5vw;
    margin-bottom: 6vw;
  }
}


@media (min-width: 961px) {

  .container_footer {
    /*width: 1200px;*/
    width: 62.5vw;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 75px;*/
    padding-top: 3.9vw;
    /*padding-bottom: 180px;*/
    padding-bottom: 9.4vw;
  }

  .head_list {
    /*font-size: 18px;*/
    font-size: 0.94em;
    padding-bottom: 26px;
  }

  .head_list a {
    color: white;
  }

  .line_up {
    width: 1px;
    background: #932a43;
  }

  footer .post_button {
    width: 13vw;
    margin-top: 25px;
    margin-left: 0;
    font-size: 0.9vw;
  }
}
